<h1>Dragon Ball Z</h1>
<hr class="py-1">
<div class="container">
    <div class="row">
        <div class="col-md-6 ">
            <h3 class="fw-light">Personajes</h3>
            <hr>
            <ul class="list-group shadow">
                <li class="list-group-item">Son Gokū</li>
                <li class="list-group-item">Vegeta</li>
                <li class="list-group-item">Bardock</li>
                <li class="list-group-item">Rey Vegeta</li>
            </ul>
        </div>
        <div class="col-md-6 ">
            <h3 class="fw-light">Agregar personaje</h3>
            <hr>
            <form>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Nombre" aria-label="Nombre">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Poder" aria-label="Poder">
                </div>
                <div class="d-grid gap-2">
                    <button class="btn btn-primary" type="button">Agregar</button>
                </div>
            </form>
        </div>
    </div>
</div>